@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

/* Themes */

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-background-left: hsl(192, 100%, 67%);
  --check-background-right: hsl(280, 87%, 65%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --light-grayish-blue-dark: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
}

.dark {
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-dark: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-dark2: hsl(237, 14%, 26%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --very-dark-blue: hsl(235, 21%, 11%);
}

.light {
  --very-dark-desaturated-blue: hsl(0, 0%, 100%);
  --very-dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue-dark: hsl(234, 11%, 52%);
}
